{
	"verifyConditions": [
		"@semantic-release/changelog",
		"@semantic-release/npm",
		"@semantic-release/git",
		"@semantic-release/gitlab"
	],

	"prepare": [
		"@semantic-release/changelog",
		"@semantic-release/npm",
		["@semantic-release/git", {
			"assets": [
				"README.md",
				"CHANGELOG.md",
				"package.json",
				"yarn.lock"
			]
		}]
	],

	"publish": [
		"@semantic-release/npm",
		"@semantic-release/gitlab"
	],

	"success": false,
	"fail": false
}
